.login-dark {
  height: 500px;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: rgba(255,255,255,0.85);
  padding: 40px;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 82%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
  width: 80px;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.btn:not(:disabled):not(.disabled) {
  border-radius: 27px;
  width: 110px;
  height: 28px;
  padding: 0px;
  margin-left: 130px;
}

.forgot {
  font-family: 'Roboto';
  color: #000000;
  margin-bottom: 0px;
}

.illustration {
  padding-top: 5px;
  padding-bottom: 0px;
}

#login-logo {
  width: 150px;
  height: 100px;
}

.registration-form {
  padding-top: 5px;
  padding-bottom: 0px;
  height: 515px;
}

#registration-head {
  color: #000ccc;
  font-family: 'Roboto';
  font-size: 30px;
}

#registration-subhead {
  color: #000000;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

#username-input {
}

#lname-input {
}

#male-radio {
}

#male-span {
  color: #000000;
  font-family: 'Roboto';
}

#female-span {
  color: #000000;
  font-family: 'Roboto';
}

#date-input {
  color: #707070;
}

#country {
  color: #707070;
}

#region {
  color: #707070;
}

#registration-form {
}

#password-input {
  color: #000;
}

#username-input {
  color: #000;
}

#university-input {
  color: #000;
}

#collage-input {
  color: #000;
}

#school-input {
  color: #000;
}

#depertment-input {
  color: #000;
}

#level-select {
  color: #000;
  width: 100px;
}

#program {
  align-content: space-evenly;
  align-items: flex-start;
}

#program {
  align-content: space-between;
}

#degree-input {
  color: #000;
}

#duration-select {
  color: #000;
}

#yos-select {
  color: #000;
}

#fname-input {
  color: #000;
}

#fname-input {
  color: #000;
}

#lastname-input {
  color: #000;
}

#thead-row {
  width: 700px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 10px;
  background-color: #fff;
}

#thread-col {
  background-color: #fff;
}

.forum-list {
  min-height: 512px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 553px;
  overflow-y: auto;
  height: 500px;
}

#thread {
  height: 80px;
  background-color: #fff;
  border-radius: 0px 60px;
  padding-left: 20px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 6px grey;
}

#profile-img-thread {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}

#forum-title-heading {
  font-family: 'Roboto';
  font-size: 18px;
  margin-top: 5px;
}

#thread-row {
  margin-right: 0px;
  margin-left: 0px;
  height: 70px;
}

#pfofile-img-col {
}

#num-of-replies {
  border-radius: 30px;
  border: 1px solid #0000cc;
  width: 120px;
  float: right;
  margin-right: 20px;
  position: relative;
  margin-top: -13px;
}

#replies-buttton {
  text-align: center;
}

#subtitle-thread-list {
  margin-top: 30px;
  color: #707070;
  font-size: 15px;
  font-family: 'Roboto';
}

#post {
  height: 200px;
  background-color: #fff;
  border-radius: 0px 0px;
  padding-left: 20px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 6px rgb(128,128,128);
  border-radius: 30px;
}

#time-post {
  color: #707070;
  font-family: 'Roboto';
  margin-top: 60px;
  position: relative;
}

#post-time {
  margin-top: 50px;
}

#post-description {
  margin-right: 0px;
  margin-left: 70px;
  margin-top: 0px;
}

#description {
}

#time {
  margin-top: 40px;
  color: #707070;
}

#post-menu {
  float: right;
  margin-right: 20px;
  font-size: 28px;
  color: #000;
}

#username-post {
  font-size: 15px;
  font-family: 'Roboto';
  margin-left: 5px;
}

#description-reference {
  background-color: #B3C6FF;
}

#ChartTextInput {
  width: 870px;
  height: 50px;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 30px;
  background-color: #fff;
  border: #fff;
  box-shadow: 3px 3px 6px #808080;
}

#ChartTextInput {
  width: 870px;
  height: 50px;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 30px;
  background-color: #fff;
  border: #fff;
  box-shadow: 3px 3px 6px #808080;
}

#ChartTextArea {
  /*border: #fff;*/
  /*box-shadow: 3px 3px 10px #808080;*/
  border-radius: 30px;
  outline: none;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 12px;
  margin-left: 30px;
  /*margin-top: 10px;*/
  height: 50px;
  width: 800px;
}

#ChartTextInputDive {
  width: 860px;
  height: 50px;
  margin-left: 20px;
  border: #fff;
  box-shadow: 3px 3px 10px #808080;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 5px;
  /*position: absolute;*/
}

#Attachment {
  margin-left: 14px;
  float: left;
}

#ChatInputTexRow {
  width: 860px;
  height: 50px;
  margin-left: 20px;
  border: #fff;
  box-shadow: 3px 3px 10px #808080;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 5px;
}

#TextInputSection {
}

@media (min-width: 768px) {
  #InputText-Row {
    width: 623px;
    height: 50px;
    margin-left: 61px;
    border: #fff;
    box-shadow: 3px 3px 10px #808080;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  #InputText-Row {
    width: 587px;
    height: 50px;
    margin-left: 60px;
    border: #fff;
    box-shadow: 3px 3px 10px #808080;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  #InputText-Row {
    width: 843px;
    height: 50px;
    margin-left: 95px;
    border: #fff;
    box-shadow: 3px 3px 10px #808080;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 10px;
  }
}

#Attachment-Col {
}

#TextInputArea-Col {
}

#Chat-TextArea {
  width: 100%;
  height: 45px;
  border: #fff;
  background-color: #fff;
  margin-top: 3px;
  outline: none;
  padding-top: 10px;
}

#Attachment-Icon {
  float: left;
  margin-left: 18px;
  margin-top: 10px;
  font-size: 32px;
}

#Send-Icon {
  float: right;
  margin-right: 20px;
  font-size: 32px;
  margin-top: 10px;
}

#NewTopic-Div {
}

#Heading-Modal {
}

#Topic-Heading {
}

#Topic-TextInput {
  padding-left: 10px;
  border: #fff;
  width: 75%;
  height: 30px;
  margin-left: 2%;
  box-shadow: 3px 3px 5px #808080;
  background-color: #fff;
  border-radius: 30px;
}

#Category-Select {
  margin-top: 5px;
  margin-left: 2%;
  box-shadow: 3px 3px 5px #808080;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 10px;
  border: #fff;
  width: 75%;
  height: 30px;
  outline: none;
  padding-left: 15px;
}

#Category-Container {
  margin-left: 0px;
  margin-top: 5px;
}

#Message-TextArea {
  width: 75%;
  padding-left: 10px;
  border: #fff;
  height: 80px;
  margin-left: 2%;
  box-shadow: 3px 3px 5px #808080;
  background-color: #fff;
  border-radius: 30px;
}

#Cancel-Modal {
}

#SubmitButton-Modal {
}

#button {
  background-color: #fff;
  outline: none;
}

#Account-Link {
  color: #8484ee;
}

#forgort-Link {
  color: #8484ee;
}

#forgot {
  color: #8484ee;
}

.forgot {
}

#retype-password-input {
  color: #000;
}

