#onlinep
{
    width:100%;
    height:600px;
    overflow: auto;

}
#apartner
{
   width:98%;
   height:50px;
   background-color: white;
   border-radius: 10px 10px 10px 10px;
   float: left;
   margin-top:2%;
   font-size: small;

}
#apartner div{
    margin-right: .7%;
}
#img
{
   width:20%;
   height:50%;
   margin-top: 1%;
   float: left;
}
#img img
{
    width:35px;
    height:35px;
    float: left;
    border-radius:50%!important;
    
}
#fullnamexx
{
    float:left;
    width:30%;
    height:70%;
    margin-top: 1%; 
    font-size: smaller;

}
#drequest
{
    width:40%;
    float:left;
    height:50%;
    margin-top: 1%;
    border: solid 1px #ccc;
    border-radius: 12px 12px 12px 12px;
    font-size: smaller;
    cursor: pointer;

   
}
#drequest:hover{
     
    background-color: rgb(232, 232, 241);
    color:rgb(43, 43, 243);
    font-weight: bold;
}

#online_head
{
    background-color: rgba(90, 90, 204, 0.8);
    color:white;
    width:96%;
    margin-left:1.5%;
    padding-left: 1%;
    border-radius:14px 14px  0px 0px ;
    margin-top:3%;
}
#repop
{
    display:none;
    position:absolute;
}