#myscreen
{
    width:100%;
    height:80%!important;
    margin-top: 1%;
}
#myscreen .videocontainer
{
    width:98%;
    height:100%;
}
#myscreen video{
    width:100%;
    height:90%;
    border:solid 1px green;
    left:0;
    right:0;
}